div .left-container {
    width: 25%;
    border: 1px solid #000;
    height: 100%;
    padding: 10px;
    float: left;
   }

   div .right-container {
    width: 100%;
    border: 1px solid #000;
    height: 100%;
    padding: 10px;
    
   }
    
   div .list-content {
    color: blue;
    border-bottom: 1px solid #000;
    text-align: center;
   }